.DS_Store
./data/Single_vOTUs
./data/Pairs_vOTUs
./data/uhgv_metadata.tsv.gzdata/Pairs_vOTUs/
data/Single_vOTUs/
uhgv_metadata.tsv.gz
data/Pairs_vOTUs/
data/gutsy25_all_metadata_phold.tsv.gz
data/divergence_dict_all/
data/syn_sites_dict_all/
data/uhgv_mgv.fna.gz
data/uhgv_mgv_otu_fna/
data/annotation_dict.pickle
data/divergence_dict_all.zip
data/allele_counts_map_all/
data/ld_counts_dict_all/
data/syn_sites_alignment_dict_all/
data/syn_sites_pangraph_dict_all/
data/divergence_dict_alignment_all/
analysis/ds_vs_dnds_dist_axis_alignment/
data/allele_counts_map_all.zip
data/ld_counts_dict_all.zip
data/divergence_dict_alignment_all.zip
data/syn_sites_dict_all.zip
data/uhgv_mgv_otu_fna.zip
